*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

/server
/vendor/
/bin/
/build/
/dist/

*.log
*.tmp
*.swp
*.swo
*.DS_Store
*.idea/
*.vscode/
*.env
.env.*
*.local

/go.sum
*.modcache/
**/go.work
**/go.work.sum

*.cover
coverage.out
profile.out

Thumbs.db
.DS_Store
